<?php


$order = new Mage_Sales_Model_Order();
    
$orderId = Mage::getSingleton('checkout/session')->getLastRealOrderId();

$orderDetails = Mage::getModel('sales/order')->loadByIncrementId($orderId);

$feetype = Mage::getStoreConfig('payment/msinstallmentpayment/fee_type');
$installment_ktc = Mage::getStoreConfig('payment/msinstallmentpayment/installment_ktc');
$installment_bay = Mage::getStoreConfig('payment/msinstallmentpayment/installment_bay');
$installment_fcy = Mage::getStoreConfig('payment/msinstallmentpayment/installment_fcy');

    
$total = round($orderDetails["grand_total"],2);
$paymonth;
$action;

if ($feetype == "include"){

    $paymonth = $total / $_GET["M"];

}else if ($feetype == "exclude"){

    if($_GET["B"] == 'KTC' || $_GET["B"] == 'BAY'){

        $paymonth = ($total / 100 * 0.8 * $_GET["M"] + $total) / $_GET["M"];

    }else if ($_GET["B"] == 'FCY'){

        $paymonth = ($total / 100 * 1 * $_GET["M"] + $total) / $_GET["M"];
        
    }
    
}


if($_GET["B"] == 'KTC'){

    $action = 'https://www.moneyspace.net/ktccredit/payment/directpay';


}else if($_GET["B"] == 'BAY'){

    $action = 'https://www.moneyspace.net/baycredit/pay';

}else if($_GET["B"] == 'FCY'){

    $action = 'https://www.moneyspace.net/baycredit/pay';

}


?>




<div align="center">
    <h1>กำลังเปลี่ยนหน้าเว็บ......</h1>
</div>

<div id="mspay" style="display:none">

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {


    var form = document.createElement("form");
    var transactionID = document.createElement("input"); 
    var pay_type = document.createElement("input"); 
    var locale = document.createElement("input"); 
    var term = document.createElement("input");  
    var paymonth = document.createElement("input"); 
    var bankType = document.createElement("input");  
    var interest = document.createElement("input"); 

    form.method = "POST";
    form.action = "<?=$action?>";   

    transactionID.value = "<?=$_GET["transactionID"]?>";
    transactionID.name = "transactionID";
    form.appendChild(transactionID);  

    pay_type.value = "";
    pay_type.name = "pay_type";
    form.appendChild(pay_type);  

    locale.value = "";
    locale.name = "locale";
    form.appendChild(locale);  

    term.value = "<?=$_GET["M"]?>";
    term.name = "term";
    form.appendChild(term);  

    paymonth.value = "<?=$paymonth?>";
    paymonth.name = "paymonth";
    form.appendChild(paymonth);  

    bankType.value = "<?=$_GET["B"]?>";
    bankType.name = "bankType";
    form.appendChild(bankType);  

    interest.value = "0.0";
    interest.name = "interest";
    form.appendChild(interest);  

  

    document.getElementById("mspay").appendChild(form);

    form.submit();


});


</script>