

<?php
    
$order = new Mage_Sales_Model_Order();
    
$orderId = Mage::getSingleton('checkout/session')->getLastRealOrderId();
    
if($orderId){
    
    $orderDetails = Mage::getModel('sales/order')->loadByIncrementId($orderId);
    
    $shippingId = $orderDetails->getShippingAddress()->getId();
    
    $address = Mage::getModel('sales/order_address')->load($shippingId);
    
    
    $ms_secret_id = Mage::getStoreConfig('payment/mscard/ms_secret_id');
    $ms_secret_key = Mage::getStoreConfig('payment/mscard/ms_secret_key');
    $feetype = Mage::getStoreConfig('payment/mscard/fee_type');
    $title = Mage::getStoreConfig('payment/mscard/title');

    
    $orderjson = date("YmdHis");
    
    $firstname = $address->firstname;
    $lastname = $address->lastname;
    $email = $address->email;
    $phone = $address->telephone;
    $amount = round($orderDetails["grand_total"],2);
    $currency = 'THB';
    $description = $orderId;
    $address = "";
    $message = "";
    $feeType = $feetype;
    $order_id = $orderjson;
    $gateway_type = "card";
    $successurl = Mage::getBaseUrl().'mscard/payment/msupdate?oid='.$orderId;
    $failurl = Mage::getBaseUrl().'mscard/payment/msupdate?oid='.$orderId;
    $cancelurl = Mage::getBaseUrl().'mscard/payment/msupdate?oid='.$orderId;
    
    
    
    $payment_data = array(
                            "secret_id" => $ms_secret_id,
                            "secret_key" => $ms_secret_key,
                            'firstname' => $firstname,
                            'lastname' => $lastname,
                            'email' => $email,
                            'phone' => $phone,
                            'amount' => $amount,
                            'description' => $description,
                            'address' => $address,
                            'message' => $message,
                            'feeType' => "include", 
                            'order_id' => $order_id, 
                            "payment_type" => "card", 
                            'success_Url' => $successurl,
                            'fail_Url' => $failurl,
                            'cancel_Url' => $cancelurl, 
                            "agreement" => 1
    );
                                 
    
    
    $ch = curl_init();
    curl_setopt($ch, CURLOPT_URL,"https://a.moneyspace.net/payment/CreateTransaction"); //https://a.moneyspace.net/CreateTransactionID
    curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
    curl_setopt($ch, CURLOPT_POST, true);
    curl_setopt($ch, CURLOPT_SSL_VERIFYPEER, false); 
    
    $data = $payment_data;
    
    curl_setopt($ch, CURLOPT_POSTFIELDS, $data);
    $output = curl_exec($ch);
    $info = curl_getinfo($ch);
    curl_close($ch);
    
    $call_dejson = json_decode($output);
    
    

    if ($call_dejson[0]->status == "success" && strlen($call_dejson[0]->mskey) < 9999){
    
        $tranId = $call_dejson[0]->transaction_ID;
        $mskey = $call_dejson[0]->mskey;
        $link_payment = $call_dejson[0]->link_payment;
        Mage::app()->getFrontController()->getResponse()->setRedirect($link_payment);

    }else{


        Mage::app()->getFrontController()->getResponse()->setRedirect(Mage::getBaseUrl().'mscard/payment/txerror');


    }
    

}else{
    Mage::app()->getFrontController()->getResponse()->setRedirect(Mage::getBaseUrl().'qrprompayment/payment/txerror');
}    
    
?>



<div id="moneyspace-payment" template="2" lang="eng" ms-title="<?=$title?>" description="false" ms-key="<?=$mskey?>"></div>

<!-- <script type="text/javascript" src="https://a.moneyspace.net/js/moneyspace_payment.js"></script> -->